.ground {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    user-select: none;

    background: #119b11 url("../../img/ground-bg.png") no-repeat center / 100% 100%;
    transform-style: preserve-3d;
}